<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .menu-item {
            font-size: 25px;
            margin: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
        }
        .header-container {
            background-color: #3498db;
            height: 50px;
            line-height: 50px;
        }
        .header-item {
            display: inline-block;
            margin-right: 105px;
            font-size: 25px;
            vertical-align: middle;
            text-decoration: none;
            color: white;
        }
        .menu-render-container {
            display: flex;
        }
        .menu-container {
            display: flex;
            background-color: #3498db;
            height: 100vh; /* Full height of the viewport */
            flex-direction: column; /* Stack items vertically */
            width: 150px; /* Adjust the width as needed */
        }
        .render-body {
            color: brown;
            padding: 20px; /* Add some padding for better visibility */
        }
    </style>
</head>
<body>
    <div class="header-container">
        <ul style="list-style-type:none; padding: 0; margin: 0;">
            <li class="header-item"><a href="/Code/Index" style="text-decoration: none;">Coding class</a></li>
            <li class="header-item"><a href="/Code/Java" style="text-decoration: none;">Java</a></li>
            <li class="header-item"><a href="/Code/C" style="text-decoration: none;">C</a></li>
            <li class="header-item"><a href="/Code/CSharp" style="text-decoration: none;">C#</a></li>
            <li class="header-item"><a href="/Code/Python" style="text-decoration: none;">Python</a></li>
            <li class="header-item"><a href="/Code/JavaScript" style="text-decoration: none;">JavaScript</a></li>
            <li class="header-item"><a href="/Code/php" style="text-decoration: none;">php</a></li>
        </ul>
    </div>
    <div class="menu-render-container">
        <div class="menu-container">
            <a href="/Code/Print" class="menu-item">Print</a>
            <a href="/Code/Variable" class="menu-item">Variables</a>
            <a href="/Code/DataTypes" class="menu-item">Data types</a>
            <a href="/Code/Oprators" class="menu-item">Operators</a>
            <a href="/Code/If" class="menu-item">If</a>
            <a href="/Code/Switch" class="menu-item">Switch</a>
            <a href="/Code/For" class="menu-item">For</a>
            <a href="/Code/While" class="menu-item">While</a>
            <a href="/Code/String" class="menu-item">String</a>
            <a href="/Code/Array" class="menu-item">Array</a>
            <a href="/Code/List" class="menu-item">List</a>
            <a href="/Code/Method" class="menu-item">Method</a>
        </div>
        <div class="render-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
