@{
    Layout = "_MyLayout";
}

<style>
    .Grid-Languages {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        height: 100%;
        width: 200%;
    }

    .grid-item {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        border: 1px solid lightpink;
        padding: 1rem;
    }

        .grid-item div {
            margin-top: 5px; /* Add margin between the div elements */
        }

        .grid-item img {
            width: 100px;
            height: 50px;
        }

        .grid-item h2 {
            text-align: center;
            background-color: lightpink;
        }

        .grid-item h5 {
            color: green;
        }
</style>

<div class="Grid-Languages">
    <div class="grid-item">
        <div>
            <img src="~/Data/JavaLogo.jpeg" alt="Java Logo">
        </div>
        <div>
            <h2>Java</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>System.out.println("Hello World");</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <img src="~/Data/CLogo.png" alt="C Logo">
        </div>
        <div>
            <h2>C</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>printf("Hello World");</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <img src="~/Data/CSharp.jpeg" alt="C Sharp Logo">
        </div>
        <div>
            <h2>CSharp</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>Console.WriteLine("Hello World");</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <img src="~/Data/PhythonLogo.jpeg" alt="Phython Logo">
        </div>
        <div>
            <h2>Phython</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>print("Hello World")</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <img src="~/Data/JSLogo.jpeg" alt="JS Logo">
        </div>
        <div>
            <h2>JavaScript</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>document.write("Hello World");</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <img src="~/Data/PHPLogo.png" alt="PHP Logo">
        </div>
        <div>
            <h2>PHP</h2>
        </div>
        <div>
            <h5>Code</h5>
            <h1>echo "Hello World";</h1>
            <h5>Output</h5>
            <p>Hello World</p>
        </div>
    </div>
</div>
